/* styles.css */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}




.centered {
  text-align: center;
}

.centered a {
  margin: 0 10px; /* Adjust the horizontal spacing between links */
  padding: 5px 10px; /* Adjust the padding inside each link */
}

.table-container {
  margin: 0 auto; /* Center the table horizontally */
  width: 80%; /* Set a width to limit the size of the container */
}

table {
  width: 100%; /* Make the table fill its container */
  border-collapse: collapse; /* Collapse borders */
}

table, th, td {
  border: 1px solid black; /* Add borders to table, th, and td */
}

th, td {
  padding: 8px; /* Add padding to th and td */
}
